@use './variables' as *;

// Contact Section Styles
.contactSection {
    background-color: $secondary;

    .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 { padding: 2.5rem 0 5px; }

    .mediaLinks {
        flex-direction: row;

        li a {
            font-size: 1.25rem;
            color: $white;
            padding: 10px;

            &:hover,
            &:focus { color: $primary; }
        }
    }

    p { 
        text-align: center;
        width: 80%;
        margin: 1.2rem 0;
    }
}

// Forms Styles
form {
    flex-direction: column;
    min-width: 75%;

    .contactInfo { 
        flex-direction: column;
        
        &:nth-child(2) { margin: 1rem 0; }
    }

    label { 
        font-family: $headingFont; 
        letter-spacing: 1px;
        margin-bottom: 6px;
    }

    input,
    textarea {
        border: none;

        &:focus { background: rgba($primary, 0.3); }
    }

    input { padding: 18px 20px; }

    textarea {
        padding: 25px 20px;
        resize: none;
    }

    button {
        align-self: center;
        margin: 1.4rem 0 4rem;
        padding: 11px 50px 10px;
        letter-spacing: 0.5px;
    }
}

// Footer Styles
footer {
    background-color: $primary;
    padding: 12px 0;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.70rem;
    color: $white;
}