@use './variables' as *;

// BASE STYLES:

// Stripping Styles
h1, h2, h3, 
h4, ul, li, p, 
input, textarea, 
button {
    margin: 0;
    padding: 0;
}

ul { list-style: none; }

.toggle, input, textarea { border: none; }

// Wrapper
.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

// Images
img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.photo, .photo img, .bubble { border-radius: 50%; }

// Links/Buttons 
a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.button { 
    font-size: 0.80rem;
    background-color: $accent;
    border: 3px solid transparent;
    
    &:hover,
    &:focus {
        border: 3px solid $accent;
        background-color: $white;
    }
}

a, .button, 
.toggle { 
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

// Background Colours
.skillsSection, footer { background-color: $primary; }

// Flexbox
.flexContainer { display: flex; }

.mainTitle,
.about .wrapper,
.skillsSection .wrapper,
.projectImage, .projectText,
.contactSection .wrapper,
form, .contactInfo { flex-direction: column; }

nav ul,
.mainTitle,
.about .wrapper,
.skillsSection .wrapper,
.skillsList,
.projectImage, .projectText,
.contactSection .wrapper { justify-content: center; }

.mainTitle,
.about .wrapper,
.skillsSection .wrapper,
.projectImage,
.contactSection .wrapper { align-items: center; }

    