@use './variables' as *;

// Stripping Styles
h1,
h2,
h3,
h4,
ul,
p,
input,
textarea,
button 
{
    margin: 0;
    padding: 0;
}

ul { list-style: none; }

// Wrapper
.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

// Images
img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.photo,
.photo img { border-radius: 50%; }

// Links 
a {
    text-decoration: none;
    display: inline-block;
}

.button { 
    font-size: 0.80rem;
    border: 3px solid transparent;
    background-color: $accent;
    cursor: pointer; 
    text-align: center;

    &:hover,
    &:focus {
        border: 3px solid $accent;
        background-color: $white;
    }
}

// Flexbox
.flexContainer { display: flex; }