@use './variables' as *;

// Contact Section Styles
.contactSection {
    background-color: $secondary;

    h3 { padding: 4.7rem 0 10px; }

    .wrapper p {
        width: 80%;
        margin: 0.5rem 0 1.2rem;
    }

    // Media Links Styles
    .mediaLinks {
        a {
            font-size: 1.25rem;
            padding: 10px;

            &:hover,
            &:focus { color: $primary; }
        }
    }
}

// Forms Styles
form {
    min-width: 75%;

    .contactInfo:nth-child(2) { margin: 1rem 0; }

    label { margin-bottom: 6px; }
    input { padding: 16px; }

    textarea {
        padding: 25px 20px;
        resize: none;
    }

    input, textarea { 
        border: 4px solid transparent; 

        &:focus { border: 4px solid $accent; }
    }
    
    // Submit Button Styles
    button {
        align-self: center;
        margin: 1.4rem 0 4rem;
        padding: 11px 50px 10px;
        letter-spacing: 0.5px;
    }
}

// Return to Top Link Styles
.linkToTop {
    font-size: 0.70rem;
    line-height: 0.75rem;
    padding: 1rem 0 1.2rem;

    img {
        width: 50px;
        margin: 8px auto;
        border: 3.5px solid $primary;
        box-shadow: 0 0 5px $tertiary;
    }

    a:hover img,
    a:focus img { box-shadow: 0 0 8px $accent, 0 0 3px $black; }
}

// Footer Styles
footer {
    padding: 12px 0;
    font-size: 0.70rem;
}