@use './variables' as *;

// HEADER STYLES:
header {
    height: 100vh;
    // Background Styles
    background-image:
            linear-gradient(to top right,
                rgba($black, 0.4), 
                rgba($black, 0.6),
                rgba($primary, 0.8)), 
                url('../assets/headerImage.jpg');
    background-size: cover;
    background-repeat: none;

    // Main Heading Styles
    .mainTitle {
        height: calc(100vh - 82px);
        
        p {
            font-size: 1.2rem;
            line-height: 1.32rem;
            margin: 12px 0 20px;
        }

        // Contact Form Link
        .button { padding: 9px 45px; }
    }
}

// Styles For Animation 'Bubbles'
.bubble {
    width: 30px;
    height: 30px;
    position: absolute;
    box-shadow: 0 20px 30px $black, inset 0px 10px 30px 5px rgba($white, 0.2);
}

// Keyframes
@keyframes animateBubble {
    0% { margin-top: 10%; }
    100% { margin-top: -100%; }
}

@keyframes sideWays {
    0% { margin-left: 0px; }
    100% { margin-left: 50px; }
}

// Animations
.x1 {
    top: 5%;
    left: -5%;
    transform: scale(0.6);
    animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.x2 {
    top: 80%;
    left: 5%;
    transform: scale(0.4);
    animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x3 {
    top: 40%;
    left: 10%;
    transform: scale(0.7);
    animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.x4 {
    top: 0;
    left: 20%;
    transform: scale(0.3);
    animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
}

.x5 {
    top: 50%;
    left: 30%;
    transform: scale(0.5);
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x6 {
    top: 0;
    left: 50%;
    transform: scale(0.8);
    animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.x7 {
    top: 70%;
    left: 65%;
    transform: scale(0.4);
    animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.x8 {
    top: 10%;
    left: 80%;
    transform: scale(0.3);
    animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
}

.x9 {
    top: 50%;
    left: 90%;
    transform: scale(0.6);
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x10 {
    top: 80%;
    left: 80%;
    transform: scale(0.3);
    animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
}