@use './variables' as *;

// NAVIGATION BAR STYLES:
nav li {
    font-size: 1rem;
    margin: 0 4%;
    
    // Nav Links
    a {
        padding: 1.5rem 1rem;
        text-shadow: 3px 1px $black;
        letter-spacing: 1.7px;
    }
}

// Hamburger Menu Icon/Menu Slide Out Styles
.toggle {
    display: none;
    background: none;

    &:hover,
    &:focus { border-color: transparent; }

    i.fa-bars, 
    i.fa-times { font-size: 1.65rem; }
}
