@use './variables' as *;

// PROJECT SECTION STYLES:
.projectsSection {
    background-color: $tertiary;
    padding: 4.7rem 0 2.2rem;

    h3 { margin-bottom: 2.3rem; }

    h5 { margin: 8px 0; }
}

// Project Images & Text
.project {
    margin: 40px 0;

    img { max-height: 400px; }

    &:nth-child(odd) { 
        flex-direction: row-reverse;
        text-align: right;
    }

    .projectImage,
    .projectText { width: 50%; }

    .projectText { padding: 1.6rem 1rem 1.6rem 1.6rem; }

    .rightMargin { margin-right: 30px; }

    // Project Links
    .buttons {
        margin-top: 15px;

        a {
            width: 42%;
            max-width: 235px;
            padding: 8px 4px;

            &:nth-child(2) { margin-left: 8px; }
        }
    }
}







