@use './variables' as *;

.projectsSection {
    background-color: $tertiary;
    padding: 4.7rem 0 2.2rem;

    h2 { 
        text-align: center; 
        margin-bottom: 2.3rem;
    }

    h4 { margin: 8px 0; }
}

.project {
    margin: 20px 0;

    &:nth-child(odd) { 
        flex-direction: row-reverse; 
        text-align: right;
    }

    .projectImage,
    .projectText { width: 50%; }

    .projectText { 
        padding: 1.6rem 1rem 1.6rem 1.6rem; 
        flex-direction: column;
        justify-content: center;
    }

    .projectImage {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttons {
        margin-top: 15px;

        a {
            width: 45%;
            padding: 8px 4px;

            &:nth-child(2) { margin-left: 8px; }
        }
    }
}







