@use './variables' as *;

.projectsSection {
    background-color: $tertiary;
    padding: 4.7rem 0 2.2rem;

    h2 { text-align: center; }

    h4 { margin-top: 5px; }
}

.project {
    margin: 20px 0;
    padding: 1rem;

    &:nth-child(odd) { flex-direction: row-reverse; }

    .projectImage,
    .projectText { width: 50%; }

    .projectText { 
        padding: 1.6rem; 
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .buttons {
        margin-top: 15px;

        a {
            width: 45%;
            padding: 8px 4px;

            &:nth-child(2) { margin-left: 8px; }
        }
    }
}







