@use './variables' as *;

// SKILLS SECTION STYLES: 
.skillsSection {
    padding: 3.2rem 0;
    h2 { margin-bottom: 2rem; }
}

// Skills Icons Styles
.skillsList {
    width: 75%;
    flex-wrap: wrap;

    img { 
        width: 3rem; 
        margin: 0 auto;
    }

    li {
        width: calc(100% / 5);
        margin: 10px 0;

        p { 
            font-size: 0.75rem;
            letter-spacing: 1.5px;
            margin: 5px 0;
        }

        i.fab,
        i.fas { font-size: 3rem; }
    }
}