@use './variables' as *;

// Root Font Size
html { font-size: 125%; }

// Body Font Styles
body { 
    font-size: 0.85rem;
    line-height: 25px;
}

body,
h3 { font-family: $bodyFont; }

body, 
.button { color: $black; }

// Header/Nav, Headings & Button Font Styles
header { 
    letter-spacing: 1px;
    
    h1 {
        font-size: 4.2rem;
        line-height: 4.3rem;
    }
}

nav,
h1,
h2,
h4,
.button,
.skillsList p { font-family: $headingFont; }

h2 { 
    font-size: 3.1rem;
    line-height: 3.2rem; 
}