/* site fonts */
$headingFont: "Roboto", sans-serif;
$bodyFont: "Lora", serif;

/* site colours */
$primary: #365C46;
$secondary: #B6CAA2;
$tertiary: #F7E4DC;
$accent: #DB9999;
$black: #14070E;
$white: #FFF;
$whiteTwo: #F8F4F3;
