/* site fonts */
/* site colours */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lora", serif;
  font-size: 0.85rem;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: #14070E;
}
body nav, body h1, body h2,
body h3, body h4, body h5, body .button,
body .skillsList p, body label {
  font-family: "Roboto", sans-serif;
}

.greeting {
  font-style: italic;
  font-weight: bold;
  font-size: 0.9rem;
  color: #365C46;
  letter-spacing: 1.3px;
}

body, header .button {
  color: #14070E;
}

header, footer,
.skillsSection, .mediaLinks a {
  color: #FFF;
}

nav a:hover, nav a:focus, .toggle {
  color: #DB9999;
}

header, h5, label, .linkToTop, footer {
  letter-spacing: 1px;
}

h1 {
  font-size: 4rem;
  line-height: 4.1rem;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.32rem;
}

h3 {
  font-size: 3rem;
  line-height: 3.1rem;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.5rem;
}

h5 {
  color: #365C46;
  font-size: 0.8rem;
  line-height: 0.85rem;
}

.button, .mainTitle,
.about p, .skillsList,
.projectsSection h3,
.contactSection p,
.linkToTop, footer {
  text-align: center;
}

.skillsList, h5 {
  text-transform: uppercase;
}

h1, h2, h3, h4,
h5, ul, li, p,
input, textarea,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.toggle, input, textarea {
  border: none;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo, .photo img,
.bubble, .linkToTop img {
  border-radius: 50%;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.button {
  font-size: 0.8rem;
  background-color: #DB9999;
  border: 3px solid transparent;
}
.button:hover, .button:focus {
  border: 3px solid #DB9999;
  background-color: #FFF;
}

a,
.button,
.toggle {
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.skillsSection, footer {
  background-color: #365C46;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainTitle,
.about .wrapper,
.skillsSection .wrapper,
.projectImage, .projectText,
.contactSection .wrapper,
form, .contactInfo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav ul,
.mainTitle,
.about .wrapper,
.skillsSection .wrapper,
.skillsList,
.projectImage, .projectText,
.contactSection .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainTitle,
.about .wrapper,
.skillsSection .wrapper,
.projectImage,
.contactSection .wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.skipLink {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
a.skipLink:focus, a.skipLink:active {
  color: #FFF;
  background-color: #14070E;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 4px solid yellow;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
  left: 0;
}

nav li {
  font-size: 1.1rem;
  line-height: 1.15rem;
  margin: 0 4%;
}
nav li a {
  padding: 1.5rem 1rem;
  text-shadow: 3px 1px #14070E;
  letter-spacing: 1.7px;
}

.toggle {
  display: none;
  background: none;
  padding: 3px;
}
.toggle:hover, .toggle:focus {
  border-color: transparent;
  outline: 1px solid;
}
.toggle i.fa-bars,
.toggle i.fa-times {
  font-size: 1.65rem;
}

header {
  height: 100vh;
  max-height: 1000px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(20, 7, 14, 0.4)), color-stop(rgba(20, 7, 14, 0.6)), to(rgba(54, 92, 70, 0.8))), url("../assets/headerImage.jpg");
  background-image: linear-gradient(to top right, rgba(20, 7, 14, 0.4), rgba(20, 7, 14, 0.6), rgba(54, 92, 70, 0.8)), url("../assets/headerImage.jpg");
  background-size: cover;
  background-repeat: none;
}
header .mainTitle {
  height: calc(100vh - 82px);
  max-height: 918px;
}
header .mainTitle h2 {
  margin: 12px 0 20px;
}
header .mainTitle .button {
  padding: 9px 45px;
}

.bubble {
  width: 30px;
  height: 30px;
  position: absolute;
  -webkit-box-shadow: 0 20px 30px #14070E, inset 0px 10px 30px 5px rgba(255, 255, 255, 0.2);
          box-shadow: 0 20px 30px #14070E, inset 0px 10px 30px 5px rgba(255, 255, 255, 0.2);
}

@-webkit-keyframes animateBubble {
  0% {
    margin-top: 10%;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes animateBubble {
  0% {
    margin-top: 10%;
  }
  100% {
    margin-top: -100%;
  }
}
@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
.x1 {
  top: 5%;
  left: -5%;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
          animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.x2 {
  top: 80%;
  left: 5%;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
          animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x3 {
  top: 40%;
  left: 10%;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
          animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.x4 {
  top: 0;
  left: 20%;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
          animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
}

.x5 {
  top: 50%;
  left: 30%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
          animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x6 {
  top: 0;
  left: 50%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
          animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.x7 {
  top: 70%;
  left: 65%;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
          animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.x8 {
  top: 10%;
  left: 80%;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
          animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
}

.x9 {
  top: 50%;
  left: 90%;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
          animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x10 {
  top: 80%;
  left: 80%;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
          animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.about .wrapper {
  padding: 4rem 0 3rem;
}
.about .wrapper h3 {
  margin: 1.2rem 0 0.3rem;
}
.about .wrapper p {
  width: 78%;
  max-width: 800px;
  padding: 3px 5px;
}
.about .wrapper p:nth-child(even) {
  margin: 15px 0;
}

.photo {
  padding: 0.6rem;
  background-color: #F7E4DC;
  -webkit-box-shadow: 1px 0px 0 #14070E, 0px -1px 0 #14070E, -1px 0px 0 #14070E, 0px 1px 0 #14070E, 11px 0 0 #DB9999, 12px 0 0 #14070E, -11px 0 0 #DB9999, -12px 0 0 #14070E, 0 -9px 0 #B6CAA2, 0 -10px 0 #14070E, 0 9px 0 #B6CAA2, 0 10px 0 #14070E;
          box-shadow: 1px 0px 0 #14070E, 0px -1px 0 #14070E, -1px 0px 0 #14070E, 0px 1px 0 #14070E, 11px 0 0 #DB9999, 12px 0 0 #14070E, -11px 0 0 #DB9999, -12px 0 0 #14070E, 0 -9px 0 #B6CAA2, 0 -10px 0 #14070E, 0 9px 0 #B6CAA2, 0 10px 0 #14070E;
}
.photo img {
  width: 160px;
  border: 4px solid #B6CAA2;
  -webkit-box-shadow: 2px 0px 3px #14070E, 0px -2px 3px #14070E, -2px 0px 3px #14070E, 0px 2px 3px #14070E;
          box-shadow: 2px 0px 3px #14070E, 0px -2px 3px #14070E, -2px 0px 3px #14070E, 0px 2px 3px #14070E;
}

.skillsSection {
  padding: 3.2rem 0;
}
.skillsSection h3 {
  margin-bottom: 2rem;
}

.skillsList {
  width: 75%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skillsList img {
  width: 3rem;
  margin: 0 auto;
}
.skillsList li {
  width: 20%;
  margin: 10px 0;
}
.skillsList li p {
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  margin: 5px 0;
}
.skillsList li i.fab,
.skillsList li i.fas {
  font-size: 3rem;
}

.projectsSection {
  background-color: #F8F4F3;
  padding: 4.7rem 0 2.2rem;
}
.projectsSection h3 {
  margin-bottom: 2.3rem;
}
.projectsSection h5 {
  margin: 8px 0;
}

.project {
  margin: 20px 0;
}
.project img {
  max-height: 400px;
  margin: 0 auto;
}
.project:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}
.project .projectImage,
.project .projectText {
  width: 50%;
}
.project .projectText {
  padding: 1.6rem 1rem 1.6rem 1.6rem;
}
.project .buttons {
  margin-top: 15px;
}
.project .buttons a {
  width: 42%;
  max-width: 235px;
  padding: 8px 4px;
}
.project .buttons a:nth-child(2) {
  margin-left: 8px;
}

.contactSection {
  background-color: #B6CAA2;
}
.contactSection h3 {
  padding: 4.7rem 0 10px;
}
.contactSection .wrapper p {
  width: 80%;
  margin: 0.5rem 0 1.2rem;
}
.contactSection .mediaLinks a {
  font-size: 1.25rem;
  padding: 10px;
}
.contactSection .mediaLinks a:hover, .contactSection .mediaLinks a:focus {
  color: #365C46;
}

form {
  min-width: 75%;
}
form .contactInfo:nth-child(2) {
  margin: 1rem 0;
}
form label {
  margin-bottom: 6px;
}
form input {
  padding: 16px;
}
form textarea {
  padding: 25px 20px;
  resize: none;
}
form input, form textarea {
  border: 4px solid transparent;
}
form input:focus, form textarea:focus {
  border: 4px solid #DB9999;
}
form button {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 1.4rem 0 4rem;
  padding: 11px 50px 10px;
  letter-spacing: 0.5px;
}

.linkToTop {
  font-size: 0.7rem;
  line-height: 0.75rem;
  padding: 1rem 0 1.2rem;
}
.linkToTop img {
  width: 50px;
  margin: 8px auto;
  border: 3.5px solid #365C46;
  -webkit-box-shadow: 0 0 5px #F8F4F3;
          box-shadow: 0 0 5px #F8F4F3;
}
.linkToTop a:hover img,
.linkToTop a:focus img {
  -webkit-box-shadow: 0 0 8px #DB9999, 0 0 3px #14070E;
          box-shadow: 0 0 8px #DB9999, 0 0 3px #14070E;
}

footer {
  padding: 12px 0;
  font-size: 0.7rem;
}

@media (prefers-reduced-motion: reduce) {
  .x1, .x2, .x3, .x4, .x5,
.x6, .x7, .x8, .x9, .x10 {
    -webkit-animation: none;
            animation: none;
  }
}
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .wrapper {
    width: 90%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .toggle {
    display: block;
    right: 5%;
    top: 20px;
    z-index: 10;
  }
  .toggle, .navMenu {
    position: fixed;
  }
  .vh {
    visibility: hidden;
  }
  .navMenu {
    width: 100vw;
    height: 100vh;
    background: #365C46;
    top: 0;
    left: -100vw;
    z-index: 9;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .navMenu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navMenu ul, .navMenu a {
    height: 100%;
  }
  .navMenu li {
    margin: 0;
    height: 20%;
    max-height: 100px;
    font-size: 1.8rem;
    line-height: 1.9rem;
  }
  .navMenu li a {
    padding: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navMenu.slideOut {
    left: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  header .mainTitle {
    height: 100vh;
  }
  header .mainTitle h1 {
    font-size: 3.5rem;
    line-height: 3.6rem;
  }
  header .mainTitle h2 {
    font-size: 1.3rem;
    margin: 8px 0 18px;
  }
  .x8 {
    left: 70%;
  }
  .x9, .x10 {
    left: 80%;
  }
  .about .wrapper p {
    width: 100%;
  }
  .skillsList {
    width: 100%;
  }
  .skillsList img {
    width: 2.8rem;
  }
  .skillsList li {
    width: 20%;
  }
  .skillsList li p {
    font-size: 0.65rem;
  }
  .skillsList li i.fab, .skillsList li i.fas {
    font-size: 2.8rem;
  }
  .projectsSection .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectsSection .project .projectImage, .projectsSection .project .projectText {
    width: 100%;
  }
  .projectsSection .project .projectText {
    padding: 1.6rem 0.3rem 1.6rem 0.5rem;
  }
  .contactSection h3 {
    padding: 3.5rem 0 7px;
  }
  .contactSection .wrapper p {
    width: 90%;
  }
  .contactSection form {
    width: 85%;
  }
}
@media (max-height: 970px) and (max-width: 450px) {
  header, header .mainTitle, .navMenu {
    height: 70vh;
  }
  .x2 {
    top: 40%;
  }
  .x7 {
    top: 50%;
  }
  .x10 {
    top: 55%;
  }
}
@media (max-height: 700px) and (max-width: 480px) {
  header, header .mainTitle, .navMenu {
    height: 100vh;
  }
}
@media (max-width: 680px) {
  .skillsList li {
    width: 28.5714285714%;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  body {
    font-size: 0.8rem;
    line-height: 20px;
  }
  .greeting {
    font-size: 0.82rem;
  }
  .wrapper {
    width: 95%;
  }
  h3 {
    font-size: 2.5rem;
    line-height: 3.1rem;
  }
  header .mainTitle h1 {
    font-size: 3rem;
    line-height: 3.1rem;
  }
  header .mainTitle .button {
    padding: 9px 25px;
  }
  .x8 {
    left: 60%;
  }
  .x9, .x10 {
    left: 70%;
  }
  .about .wrapper {
    padding: 2.8rem 0 2rem;
  }
  .about .wrapper h3 {
    margin: 1rem 0 0.2rem;
  }
  .about .wrapper p {
    padding: 0 4px;
  }
  .photo {
    padding: 0.58rem;
    -webkit-box-shadow: 1px 0px 0 #14070E, 0px -1px 0 #14070E, -1px 0px 0 #14070E, 0px 1px 0 #14070E, 9px 0 0 #DB9999, 10px 0 0 #14070E, -9px 0 0 #DB9999, -10px 0 0 #14070E, 0 -8px 0 #B6CAA2, 0 -9px 0 #14070E, 0 8px 0 #B6CAA2, 0 9px 0 #14070E;
            box-shadow: 1px 0px 0 #14070E, 0px -1px 0 #14070E, -1px 0px 0 #14070E, 0px 1px 0 #14070E, 9px 0 0 #DB9999, 10px 0 0 #14070E, -9px 0 0 #DB9999, -10px 0 0 #14070E, 0 -8px 0 #B6CAA2, 0 -9px 0 #14070E, 0 8px 0 #B6CAA2, 0 9px 0 #14070E;
  }
  .photo img {
    width: 145px;
    border: 3px solid #B6CAA2;
    -webkit-box-shadow: 1px 0px 3px #14070E, 0px -1px 3px #14070E, -1px 0px 3px #14070E, 0px 1px 3px #14070E;
            box-shadow: 1px 0px 3px #14070E, 0px -1px 3px #14070E, -1px 0px 3px #14070E, 0px 1px 3px #14070E;
  }
  .skillsSection {
    padding: 1.65rem 0 1.5rem;
  }
  .skillsSection h3 {
    margin-bottom: 1rem;
  }
  .skillsSection .skillsList li {
    width: 33.3333333333%;
  }
  .projectsSection {
    padding: 2.5rem 0 0.5rem;
  }
  .projectsSection h3 {
    margin-bottom: 1.5rem;
  }
  .projectsSection img {
    min-height: 200px;
  }
  .contactSection h3 {
    padding: 2.5rem 0 0;
  }
  .contactSection .wrapper p, .contactSection form {
    width: 95%;
  }
  .contactSection button {
    margin: 1.4rem 0 2.5rem;
  }
}
@media (max-width: 400px) {
  .linkToTopDiv {
    font-size: 0.6rem;
    line-height: 0.63rem;
    padding: 0.9rem 0 1rem;
  }
  .linkToTopDiv .topLink {
    width: 40px;
  }
}